In [1]:
#for local mongo db
#!python -m pip install pymongo

In [2]:
# cloud mongo db
#!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\use\anaconda3\lib\site-packages (4.1.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\use\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [1]:
import pymongo

In [2]:
client_cloud = pymongo.MongoClient("mongodb+srv://Karthik:mongodb@cluster0.olh9i.mongodb.net/?retryWrites=true&w=majority")
client_cloud.test

Database(MongoClient(host=['cluster0-shard-00-02.olh9i.mongodb.net:27017', 'cluster0-shard-00-01.olh9i.mongodb.net:27017', 'cluster0-shard-00-00.olh9i.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1kv0mb-shard-0', tls=True), 'test')

In [3]:
database = client_cloud["KARTHIK"]
collection = database["test"]
records = {'Company name':'iNeuron',
          'Product':'Affordable AI',
          'Course offered':'Full stack Data Science'}
collection.insert_one(records)

In [7]:
# inserting single record

records = {'name':['karthik','samala',1997,True],
          'dist_record':{'name':'karthik','course':'Full stack DS','payment':'completed'}}

collection.insert_one(records)

In [9]:
# insert multiple records

list_of_records = [
    {'name':['karthik','samala',1997,True],
    'dist_record':{'name':'karthik','course':'Full stack DS','payment':'completed'},
    'nothing':['karthik','samala',1997,True]},
    
    {'name':['ram','raja',1991,True],
    'dist_record':{'name':'ram','course':'Full stack DA','payment':'completed'}},
    
    {'Company name':'iNeuron',
    'Product':'Affordable AI',
    'Course offered':'Full stack Data Science'}
]

rec = collection.insert_many(list_of_records)

In [10]:
# ids of inserted records 
inserted_records = rec.inserted_ids

for idx, ids in enumerate(inserted_records):
    print(f'{idx} {ids}')

0 62cefd62b4305742cced85bb
1 62cefd62b4305742cced85bc
2 62cefd62b4305742cced85bd

### Step 4: creating a new colection with our own unique ids

In [12]:
collection2 = "collect2"
faculties = database[collection2]
list_of_records = [
    {"_id":6,
    "company name":"wipro",
    "faculty":"karthik"},
    
    {
        "_id":8,
        "company_name":"infosys",
        "faculty":"venkat"
    }
]

rec = faculties.insert_many(list_of_records)

## Step 5: Find method in mongodb

In [20]:
find_one_record = faculties.find_one()
find_one_record

{'_id': 6, 'company name': 'wipro', 'faculty': 'karthik'}

In [22]:
for i in faculties.find():
    print(i)

{'_id': 6, 'company name': 'wipro', 'faculty': 'karthik'}
{'_id': 8, 'company_name': 'infosys', 'faculty': 'venkat'}

In [23]:
list_of_records = [
    {'name':['karthik','samala',1997,True],
    'dist_record':{'name':'karthik','course':'Full stack DS','payment':'completed'},
    'nothing':['karthik','samala',1997,True]},
    
    {'name':['ram','raja',1991,True],
    'dist_record':{'name':'ram','course':'Full stack DA','payment':'completed'}},
    
    {'Company name':'iNeuron',
    'Product':'Affordable AI',
    'Course offered':'Full stack Data Science'}
]

rec = faculties.insert_many(list_of_records)

In [24]:
for i in faculties.find():
    print(i)

{'_id': 6, 'company name': 'wipro', 'faculty': 'karthik'}
{'_id': 8, 'company_name': 'infosys', 'faculty': 'venkat'}
{'_id': ObjectId('62cf135cb4305742cced85be'), 'name': ['karthik', 'samala', 1997, True], 'dist_record': {'name': 'karthik', 'course': 'Full stack DS', 'payment': 'completed'}, 'nothing': ['karthik', 'samala', 1997, True]}
{'_id': ObjectId('62cf135cb4305742cced85bf'), 'name': ['ram', 'raja', 1991, True], 'dist_record': {'name': 'ram', 'course': 'Full stack DA', 'payment': 'completed'}}
{'_id': ObjectId('62cf135cb4305742cced85c0'), 'Company name': 'iNeuron', 'Product': 'Affordable AI', 'Course offered': 'Full stack Data Science'}

## Step 6: filter out data in mongodb

In [30]:
query = {"_id":6}
for i in faculties.find(query):
    print(i)

{'_id': 6, 'company name': 'wipro', 'faculty': 'karthik'}

In [41]:
query = {"Company name":'iNeuron'}
for i in faculties.find(query):
    print(i)

{'_id': ObjectId('62cf135cb4305742cced85c0'), 'Company name': 'iNeuron', 'Product': 'Affordable AI', 'Course offered': 'Full stack Data Science'}

In [39]:
query = {"_id":{"$gt" : 1} }
for i in faculties.find(query):
    print(i)

{'_id': 6, 'company name': 'wipro', 'faculty': 'karthik'}
{'_id': 8, 'company_name': 'infosys', 'faculty': 'venkat'}

## Step 7 : Deleting one or more records

In [45]:
records_to_delete = [
    {'_id':10,'company name':'iNeuron','Facutality':'ABC'},
    {'_id':11,'company name':'iNeuron','Facutality':'XYZ'},
    {'_id':12,'company name':'iNeuron','Facutality':'PQR'}
]

rec = faculties.insert_many(records_to_delete)

In [50]:
## deleting single record
query = {'Facutality':'ABC'}
del_records = faculties.delete_one(query)

In [52]:
query = {'_id': {'$gt':10}}
for i in faculties.find(query):
    print(i)

In [53]:
## deleting multiple records
query = {'_id': {'$gt':10}}
del_many = faculties.delete_many(query)

#### Note: In order to delete all documents from the collection pass empty directory as below
    faculties.delete_many({})

## Step 8: Drop collection

In [54]:
faculties.drop()

# Few More Operations

In [1]:
import pymongo
data =  [
        {
            "item": "canvas",
            "qty": 100,
            "size": {"h": 28, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "journal",
            "qty": 25,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mat",
            "qty": 85,
            "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mousepad",
            "qty": 25,
            "size": {"h": 19, "w": 22.85, "uom": "cm"},
            "status": "P",
        },
        {
            "item": "notebook",
            "qty": 50,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "P",
        },
        {
            "item": "paper",
            "qty": 100,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "D",
        },
        {
            "item": "planner",
            "qty": 75,
            "size": {"h": 22.85, "w": 30, "uom": "cm"},
            "status": "D",
        },
        {
            "item": "postcard",
            "qty": 45,
            "size": {"h": 10, "w": 15.25, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketchbook",
            "qty": 80,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketch pad",
            "qty": 95,
            "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
            "status": "A",
        },
    ]

client = pymongo.MongoClient("mongodb+srv://Karthik:mongodb@cluster0.olh9i.mongodb.net/?retryWrites=true&w=majority")
db = client.test
database = client['inventory']
collection = database["table"]
collection.insert_many(data)

In [2]:
d = collection.find()

In [3]:
for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede79b'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede799'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a0'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79d'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79a'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a1'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a1'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a2'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a3'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a4'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a5'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a6'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a7'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a8'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a9'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479aa'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [4]:
d = collection.find({"status" : "A"})

In [5]:
for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede799'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a0'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79a'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a1'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a1'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a2'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a3'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a8'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a9'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479aa'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [6]:
d = collection.find({"status" : {"$in": ['A','P']}})

In [7]:
for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede79b'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede799'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a0'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79a'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a1'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a1'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a2'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a3'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a4'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a5'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a8'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a9'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479aa'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [8]:
d = collection.find({"status" : {"$gt" : 'C'}})
for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede79b'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79d'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a4'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a5'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a6'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a7'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}

In [9]:
d = collection.find({"qty" : {"$lte" : 50}})

for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede79b'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede799'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a2'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a4'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a5'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a8'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [11]:
d = collection.find({"qty": 95, "item":'sketch pad'})

for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a1'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479aa'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

# AND OPERATION

In [12]:
d = collection.find({"qty":{"$gt":50}, "item":'planner'})
for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede79e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a7'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}

# OR operation

In [13]:
d = collection.find({"$or" : [{"item":'sketch pad'} , {'qty':{"$gt" : 75}}]})
for i in d:
    print(i)

{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a0'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79d'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede79a'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62dbd9b47ec9e41ad7ede7a1'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a1'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a3'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a6'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62fa92b26b48ec9e66d479a9'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62fa92b26b48ec9e66d479aa'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

# Update

In [16]:
collection.update_one({'item': 'canvas'}, {"$set" : {'item' : "super canvas"}})

In [17]:
d = collection.find({'item' : 'super canvas'})
for i in d:
    print(i)

{'_id': ObjectId('62fa92b26b48ec9e66d479a1'), 'item': 'super canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}