In [1]:
#for local mongo db
#!python -m pip install pymongo

In [1]:
import pymongo

In [2]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017"

# Establishing a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
# create a DB
DB_NAME = "KARTHIK"

database = client[DB_NAME]
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'KARTHIK')

In [4]:
# lets see the existing databases list

client.list_database_names()

['KARTHIK', 'admin', 'config', 'local']

In [32]:

collection1 = database["test"]
collection1

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'KARTHIK'), 'test')

In [34]:
records = {'Company name':'iNeuron',
          'Product':'Affordable AI',
          'Course offered':'Full stack Data Science'}

collection1.insert_one(records)

In [14]:
records = {'Company name':'iNeuron',
          'Product':'Affordable AI',
          'Course offered':'Full stack Data Science',
          'name':['karthik','samala',1997,True]}

collection1.insert_one(records)

In [15]:
records = {'name':['karthik','samala',1997,True],
          'dist_record':{'name':'karthik','course':'Full stack DS','payment':'completed'}}

collection1.insert_one(records)

## insert multiple records

In [17]:
list_of_records = [
    {'name':['karthik','samala',1997,True],
    'dist_record':{'name':'karthik','course':'Full stack DS','payment':'completed'},
    'nothing':['karthik','samala',1997,True]},
    
    {'name':['ram','raja',1991,True],
    'dist_record':{'name':'ram','course':'Full stack DA','payment':'completed'}},
    
    {'Company name':'iNeuron',
    'Product':'Affordable AI',
    'Course offered':'Full stack Data Science'}
]

rec = collection1.insert_many(list_of_records)

In [18]:
# lets print the unique ids of that we inserted
inserted_ids = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_ids):
    print(f'{idx}:{unique_ids}')

0:62cdcd19651b77c179cdde87
1:62cdcd19651b77c179cdde88
2:62cdcd19651b77c179cdde89

### creating another collection with our own ids

In [36]:
collection2 = 'collection2'
faculties = database[collection2]
list_of_records = [
    {"_id":6,
    "company name":"wipro",
    "faculty":"karthik"},
    
    {
        "_id":8,
        "company_name":"infosys",
        "faculty":"venkat"
    }
]

rec = faculties.insert_many(list_of_records)

## Find method in mongo db

In [37]:
find_first_record = faculties.find_one()

print(f"One of the document from {collection2} collection is {find_first_record}")

One of the document from collection2 collection is {'_id': 1, 'company name': 'wipro', 'faculty': 'karthik'}

In [38]:
find_first_record = faculties.find_one()

print(f"One of the document from {collection1} collection is {rec}")

One of the document from Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'KARTHIK'), 'test') collection is <pymongo.results.InsertManyResult object at 0x00000265FDF05730>